.banner .carousel-item img {
    filter: brightness(50%);
}
@media only screen and (min-width: 800px) {
    h1 {
        font-size: 6vw;
        margin-bottom: 17%;
    }
}
.banner .carousel-caption p{
    font-size: 1.5vw;
}
.banner span.carousel-control-next-icon, .banner span.carousel-control-prev-icon {
    border: 2px solid white;
    padding: 19px;
}
@media only screen and (max-width: 391px) {
    .banner .carousel-caption p{
        font-size: 2.5vw;
    }
}
.banner button.navbar-toggler.collapsed,button.navbar-toggler {
    background: black;
}